@import "tailwindcss";

:root {
  /* Brand Colors - Main */
  --color-brand-main: #012638;
  --color-brand-darker: #00080b;
  --color-brand-lighter: #566e7a;
  --color-brand-subtle: #ccd4d7;

  /* Brand Colors - Blue */
  --color-brand-blue: #3377ff;
  --color-brand-blue-darker: #2659bf;
  --color-brand-blue-lighter: #99bbff;
  --color-brand-blue-subtle: #e3edff;

  /* State Colors */
  --color-error: #ff3b3b;
  --color-warning: #ffcc00;
  --color-info: #0063f7;
  --color-success: #06c270;

  /* Dark Colors */
  --color-dark-1: #3a3a3c;
  --color-dark-2: #6b7588;
  --color-dark-3: #8f90a6;
  --color-dark-4: #c7c9d9;

  /* Light Colors */
  --color-light-1: #dde5e9;
  --color-light-2: #ebebf0;
  --color-light-3: #f2f2f5;
  --color-light-4: #fafafc;
}

html {
  scroll-behavior: smooth;
}

a, button{
  @apply cursor-pointer;
}